{% load static %}

<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        
        <!-- title of site -->
        <title>Geostats</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{% static '/logo/favicon.png' %}"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">

        <!--linear icon css-->
		<link rel="stylesheet" href="{% static '/css/linearicons.css' %}">

		<!--animate.css-->
        <link rel="stylesheet" href="{% static '/css/animate.css' %}">

		<!--flaticon.css-->
        <link rel="stylesheet" href="{% static '/css/flaticon.css' %}">

		<!--slick.css-->
        <link rel="stylesheet" href="{% static '/css/slick.css' %}">
		<link rel="stylesheet" href="{% static '/css/slick-theme.css' %}">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{% static '/css/bootsnav.css' %}" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

		<style>
			/* Good - 0-50 */
#aqi-good {
  background-color: #00e400; /* Green */
  color: #000;
}

/* Moderate - 51-100 */
#aqi-moderate {
  background-color: #ffff00; /* Yellow */
  color: #000;
}

/* Unhealthy for Sensitive Groups - 101-150 */
#aqi-usg {
  background-color: #ff7e00; /* Orange */
  color: #fff;
}

/* Unhealthy - 151-200 */
#aqi-unhealthy {
  background-color: #ff0000; /* Red */
  color: #fff;
}

/* Very Unhealthy - 201-300 */
#aqi-very-unhealthy {
  background-color: #8f3f97; /* Purple */
  color: #fff;
}

/* Hazardous - 301 and higher */
#aqi-hazardous {
  background-color: #7e0023; /* Maroon */
  color: #fff;
}

		</style>

    </head>
	
	<body>
		
		<header id="header-top" class="header-top">
			
					
		</header><!--/.header-top-->
		<!--header-top end -->

		<!-- top-area Start -->
		<section class="top-area">
			<div class="header-area">
				<!-- Start Navigation -->
			    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

			        <div class="container">

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand" href=" ">Geo<span>Stats</span></a>

			            </div><!--/.navbar-header-->
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            {% comment %} <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
			                    <li class=" scroll active"><a href="#home">home</a></li>
			                    <li class="scroll"><a href="#works">how it works</a></li>
			                    <li class="scroll"><a href="#explore">explore</a></li>
			                    <li class="scroll"><a href="#reviews">review</a></li>
			                    <li class="scroll"><a href="#blog">blog</a></li>
			                    <li class="scroll"><a href="#contact">contact</a></li>
			                </ul><!--/.nav -->
			            </div><!-- /.navbar-collapse --> {% endcomment %}
			        </div><!--/.container-->
			    </nav><!--/nav-->
			    <!-- End Navigation -->
			</div><!--/.header-area-->
		    <div class="clearfix"></div>

		</section><!-- /.top-area-->
		<!-- top-area End -->

		

        <section id="works" class="works">
			<div class="container">
				<div class="section-header" style=" margin-top: 10px; ">
					<h2>{{name}}</h2>
				
				</div><!--/.section-header-->
			</div><!--/.container-->
		
		</section>

		

		

		

		<!-- statistics strat -->
		<section id="statistics"  class="statistics">
			<div class="container">
               
				<div class="statistics-counter"> 
					<div class="col-md-12 col-sm-6 aqic">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter aqi">66</div>
							</div><!--/.statistics-content-->
							<h3>AQI</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-6 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter temperature">40</div> <span></span>
							</div><!--/.statistics-content-->
							<h3>temperature</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-6 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter pm25">65</div> <span>µg/m³</span>
							</div><!--/.statistics-content-->
							<h3>PM25</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-6 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter pm10">50</div> <span>µg/m³</span>
							</div><!--/.statistics-content-->
							<h3>PM10</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
                    <div class="col-md-6 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter pressure">50</div> <span>millibar</span>
							</div><!--/.statistics-content-->
							<h3>Pressure</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
                    <div class="col-md-6 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter humidity">50</div> <span>%</span>
							</div><!--/.statistics-content-->
							<h3>humidity</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
                   
				</div><!--/.statistics-counter-->	
			</div><!--/.container-->

		</section><!--/.counter-->
		<section id="statistics"  class="statistics">
			<div class="container">
               
				<div class="statistics-counter"> 
					<div class="col-md-12 col-sm-6 aqic">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter pop">66</div>
							</div><!--/.statistics-content-->
							<h3>Total Population</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-6 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter popg">40</div> <span>%</span>
							</div><!--/.statistics-content-->
							<h3>Population Growth</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-6 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter gdp">65</div> <span></span>
							</div><!--/.statistics-content-->
							<h3>Total GDP</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-6 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter gdpc">50</div> <span></span>
							</div><!--/.statistics-content-->
							<h3>GDP per capita</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
                    <div class="col-md-6 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter gdpg">50</div> <span>%</span>
							</div><!--/.statistics-content-->
							<h3>GDP Growth</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
                   
				</div><!--/.statistics-counter-->	
			</div><!--/.container-->

		</section><!--/.counter-->		
		<!-- statistics end -->

		

		<!--footer start-->
		{% comment %} <footer id="footer"  class="footer">
			<div class="container">
				<div class="footer-menu">
		           	<div class="row">
			           	<div class="col-sm-3">
			           		 <div class="navbar-header">
				                <a class="navbar-brand" href="index.html">list<span>race</span></a>
				            </div><!--/.navbar-header-->
			           	</div>
			           	<div class="col-sm-9">
			           		<ul class="footer-menu-item">
			                    <li class="scroll"><a href="#works">how it works</a></li>
			                    <li class="scroll"><a href="#explore">explore</a></li>
			                    <li class="scroll"><a href="#reviews">review</a></li>
			                    <li class="scroll"><a href="#blog">blog</a></li>
			                    <li class="scroll"><a href="#contact">contact</a></li>
			                    <li class=" scroll"><a href="#contact">my account</a></li>
			                </ul><!--/.nav -->
			           	</div>
		           </div>
				</div>
				<div class="hm-footer-copyright">
					<div class="row">
						<div class="col-sm-5">
							<p>
								&copy;copyright. designed and developed by <a href="https://www.themesine.com/">themesine</a>
							</p><!--/p-->
						</div>
						<div class="col-sm-7">
							<div class="footer-social">
								<span><i class="fa fa-phone"> +1  (222) 777 8888</i></span>
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>
					
				</div><!--/.hm-footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.footer--> {% endcomment %}
		<!--footer end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="{% static '/js/jquery.js' %}"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
		
		<!-- bootsnav js -->
		<script src="{% static '/js/bootsnav.js' %}"></script>

        <!--feather.min.js-->
        <script  src="{% static '/js/feather.min.js' %}"></script>

        <!-- counter js -->
		<script src="{% static '/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static '/js/waypoints.min.js' %}"></script>

        <!--slick.min.js-->
        <script src="{% static '/js/slick.min.js' %}"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		     
        <!--Custom JS-->
        <script src="{% static '/js/custom.js' %}"></script>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

const infoContainer = document.querySelector('.statistics-counter');
const infoUrl = `http://127.0.0.1:8000/api/measurement/?id={{id}}`
const stats = `http://127.0.0.1:8000/api/stats/?code={{code}}`

fetch(infoUrl)
  .then(response => response.json())
  .then(jsonData => {
    console.log(jsonData);
	var aqi = document.querySelector('.aqi');
	var temp = document.querySelector('.temperature');
	var pm25 = document.querySelector('.pm25');
	var pm10 = document.querySelector('.pm10');
	var pressure = document.querySelector('.pressure');
	var humidity = document.querySelector('.humidity');

	aqi.innerHTML = jsonData.aqi;
	var aqic = document.querySelector('.aqic');
	if (jsonData.aqi < 50) {
		aqic.id = "aqi-good";
	} else if (jsonData.aqi < 100) {
		aqic.id = "aqi-moderate";
	} else if (jsonData.aqi < 150) {
		aqic.id = "aqi-usg";
	} else if (jsonData.aqi < 200) {
		aqic.id = "aqi-unhealthy";
	} else if (jsonData.aqi < 300) {
		aqic.id = "aqi-very-unhealthy";
	} else {
		aqic.id = "aqi-hazardous";
	}
	temp.innerHTML = jsonData.temperature;
	pm25.innerHTML = jsonData.pm25;
	pm10.innerHTML = jsonData.pm10;
	pressure.innerHTML = jsonData.pressure;
	humidity.innerHTML = jsonData.humidity;

    // jsonData.forEach(item => {
    //   listItem.innerHTML = `
    //   <div class="statistics-content">
	// 	<div class="counter">${item.aqi}</div> <span>k+</span>
	// 	</div><!--/.statistics-content-->
	// 						<h3>listing categories</h3>
    //   `;
    //   cleanestCitiesContainer.appendChild(listItem);
    // });
  })
  .catch(error => {
    console.error("Error fetching data:", error);
  });

  fetch(stats)
  .then(response => response.json())
  .then(jsonData => {
    console.log(jsonData);
	var gdp = document.querySelector('.gdp');
	var gdpg = document.querySelector('.gdpg');
	var gdpc = document.querySelector('.gdpc');
	var pop = document.querySelector('.pop');
	var popg = document.querySelector('.popg');

	gdp.innerHTML = jsonData.gdp;
	gdpc.innerHTML = jsonData.gdp_per_capita;
	gdpg.innerHTML = jsonData.gdp_growth;
	pop.innerHTML = jsonData.population;
	popg.innerHTML = jsonData.population_growth;

    // jsonData.forEach(item => {
    //   listItem.innerHTML = `
    //   <div class="statistics-content">
	// 	<div class="counter">${item.aqi}</div> <span>k+</span>
	// 	</div><!--/.statistics-content-->
	// 						<h3>listing categories</h3>
    //   `;
    //   cleanestCitiesContainer.appendChild(listItem);
    // });
  })
  .catch(error => {
    console.error("Error fetching data:", error);
  });
  </script>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        
    </body>
	
</html>